@using SocialPanelCore.Components.Account.Shared
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Endpoints
@inject IHttpContextAccessor HttpContextAccessor

<CascadingValue Value="HttpContextAccessor.HttpContext">
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (HttpContextAccessor.HttpContext?.GetEndpoint()?.Metadata.GetMetadata<ExcludeFromInteractiveRoutingAttribute>() is not null)
                    {
                        HttpContextAccessor.HttpContext.Response.Redirect($"/Account/Login?ReturnUrl={Uri.EscapeDataString(HttpContextAccessor.HttpContext.Request.Path)}");
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Autorizando...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingValue>
